.container {
  display: flex;
  padding: 20px;
  position: relative;
}

.content {
  padding: 10px;
  border: 1px solid rgb(223, 223, 223);
  border-radius: 8px;
}

.menu-container {
  background-color: #161a22;
  padding: 4px;
  border-radius: 4px;
  border: 1px solid #30363d;
  position: absolute;
  bottom: 35px;
}

.menu-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 4px;
}

.menu-container ul > li {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.menu-container ul > li:hover {
  background-color: #30363d;
}

.reacji-container {
  display: flex;
  position: absolute;
  bottom: -10px;
  top: auto;
  gap: 10px;
  align-items: center;
}

.reacji-container__choose {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 5px;
  margin: 0;
}

.reacji-container__choose > li {
  font-size: 14px;
  padding: 1px 8px;
  border: 1px solid #c1c1c1;
  border-radius: 40px;
  cursor: pointer;
}

.icon {
  padding-top: 5px;
}

.reacji--button {
  width: 26px;
  height: 26px;
  padding: 0;
  margin: 0;
  background: transparent;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
